#home_screen {
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#account_screen {
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#rewards_screen {
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}