/* General Error Styling */
.state-error {
    color: red;
    font-size: 14px;
    background-color: #f8d7da; /* Light red background */
    border: 1px solid #f5c6cb; /* Darker red border */
    padding: 10px;
    margin-top: 10px;
    display: none; /* Initially hidden */
}

    /* Show the error message when there is content inside */
    .state-error.show {
        display: block;
    }

/* Specific error divs for each screen (generic approach) */
#login-screen .login-error,
#signup-screen .signup-error,
#otp-screen .otp-error,
#user-info-screen .user-info-error,
#kids-registration-screen .kids-registration-error,
#subscription-screen .subscription-error,
#payment-screen .payment-error,
#confirmation-screen .confirmation-error {
    color: red;
    font-size: 1rem;
    padding: 10px;
    margin-top: 10px;
}


.login-container {
    max-width: 400px; /* Maximum width of the form */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}

.login-logo {
    font-weight: bold;
    font-size: 2.4rem;
    color: #007bff; /* Logo color matching primary button */
    margin-bottom: 20px;
}

.screen {
    display: none; /* Hide the screen by default */
    width: 100%;
    padding: 60px; /* Add padding to the screen for content */
    box-sizing: border-box; /* Include padding and borders in the element's total width and height */
    overflow: hidden; /* Prevent overflow in case of large content */
    background-color: #fff; /* Set background to white or whatever color fits your design */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transitions when showing/hiding */
}

    /* When a screen is shown (no longer hidden) */
    .screen:not(.hidden) {
        display: block; /* Make the screen visible */
        opacity: 1; /* Ensure the screen is fully opaque */
        transform: translateY(0); /* Reset the translation for smooth entry */
    }

/* This is for the hidden state (you can keep this part as is) */
.hidden {
    display: none;
    opacity: 0;
    transform: translateY(20px); /* Optionally move the screen out of view for effect */
}



.signup-container {
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.signup-headline {
    font-size: 1rem;
    margin-bottom: 20px;
}

.signup-screen {
    width: 90%;
}

.signup-logo {
    font-weight: bold;
    font-size: 2.4rem;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    color: #000;
    margin-bottom: 20px;
}

    .signup-logo a {
        text-decoration: none;
        box-sizing: border-box; /* Include padding and border in element's total width and height */
        color: #000;
    }

.login-logo {
    font-weight: bold;
    font-size: 2.4rem;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    color: #000;
}

    .login-logo a {
        text-decoration: none;
        box-sizing: border-box; /* Include padding and border in element's total width and height */
        color: #000;
    }

#loginForm {
    padding-top: 40px;
    min-width: 200px;
    /* width: 250px; */
    min-width: 200px;
}


.form-group {
    width: 100%;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

    .btn:hover {
        background-color: #0056b3;
    }

.link-container {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

    .link-container a {
        color: #007bff;
        text-decoration: none;
        font-size: 14px;
    }

        .link-container a:hover {
            text-decoration: underline;
        }

p {
    font-size: 14px;
}


/*** HEADER ***/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFFFFF; /* White background for navbar */
    color: #2b0f4c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    height: var(--navbar-height);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow to ensure visibility */
    box-sizing: border-box; /* Ensure padding is included in total width/height */
}

.navbar-brand {
    font-size: 1.4rem;
    font-weight: bold;
}

    .navbar-brand > a {
        text-decoration: none !important;
        cursor: pointer !important;
        color: black;
    }

.navbar-menu {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1rem;
    box-sizing: border-box; /* Ensure padding is included in total width/height */
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex: 1;
}

    .navbar-links li {
        margin-left: 20px;
        padding: 0px 0 10px 10px;
    }

    .navbar-links a {
        color: #2b0f4c;
        text-decoration: none;
        font-size: 1em;
    }


/* Responsive Design */
@media (max-width: 768px) {
    .navbar-links {
        display: none; /* Hide menu links on mobile */
        position: absolute;
        top: var(--navbar-height);
        right: 0;
        background: #FFFFFF;
        width: 100%;
        z-index: 1000;
        box-sizing: border-box;
        max-height: 0; /* Start with height of 0 */
        overflow: hidden; /* Hide overflow when collapsed */
        padding-bottom: 10px;
    }

        .navbar-links.active {
            display: flex;
            flex-direction: column;
            max-height: 300px; /* Adjust height as needed */
        }

    .button-group {
        display: none; /* Hide buttons on mobile */
    }

    .hamburger-menu {
        display: flex; /* Show hamburger menu on mobile */
    }

    .navbar-menu {
        justify-content: flex-end; /* Move hamburger menu to the right */
    }
}



/**** OLD STUFF */

/* Username Input Screen styles */
.username-screen {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 600px; /* Adjust max-width as per design requirements */
    text-align: center;
    margin-bottom: 20px;
    position: relative; /* Position for absolute error message */
    margin-top: 60px; /* Add margin-top to avoid overlap with fixed top bar */
}

    .username-screen h2 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
    }

#username-input {
    width: calc(100% - 20px); /* Adjust input width */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

    #username-input:focus {
        outline: none;
        border-color: #66afe9;
        box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    }

#username-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    #username-form button:hover {
        background-color: #45a049;
    }

/* Error message style */
#username-error-message {
    position: absolute;
    bottom: -25px; /* Adjust vertical position */
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336; /* Red background color */
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
}

    /* Show error message animation */
    #username-error-message.show {
        opacity: 1;
    }


